<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/city.css" rel="stylesheet" />
</head>
<body  style="background:rgb(245,240,233)">
<include file="public:head"/>

<frameset cols="180, 10, *" framespacing="0" border="0" id="frame-body">


  <iframe src="__APP__/index/index/m/Home/action/HomeLeft"  id="left_iframe" scrolling="no" ></iframe>
  <iframe src="__APP__/index/index/m/Home/action/HomeRight""  id="right_iframe" name="right_iframe"></iframe>
    </frameset>
</div>
<include file="public:foot"/>
</body>
</html>