@CHARSET "UTF-8";
html
{
	font: 12px black Verdana,Arial,Helvetica,sans-serif;
}
body
{
	margin:0 auto;
	min-width:1340px;;
	    min-height: 700px;
}
#headmain_div{
	margin:0 auto;
	background:rgb(74,71,71);
	height:74px;
	width:100%;
	float: left;
 
	top:0px;
	border-bottom:1px solid #ffffff;
}
#top_img{
	width:80px;
	margin-left:30px;
	height:80%;
	margin-top:6px;
}