<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__PUBLIC__/css/home.css" rel="stylesheet" />
<link href="__PUBLIC__/css/public.css" rel="stylesheet" />

</head>
<body  style="background:rgb(245,240,233)">

<include file="public:head"/>
 
  <iframe src="__APP__/Home/HomeLeft"  id="left_iframe" scrolling="no" ></iframe>
  <iframe src="__APP__/Home/HomeRight""  id="right_iframe" name="right_iframe" scrolling="no" ></iframe>
 
<include file="public:foot"/>
</body>
</html>